<div class="card" style="width: 25rem;">
    <ul class="list-group list-group-flush">
        <form [formGroup]="formValue">
            <li class="list-group-item">
                <label for="exampleInputId" class="form-label">Ticket Id: </label>
                <label formControlName="Id" id="exampleInputId">{{ticket_details.Id}}</label>
            </li>
            <li class="list-group-item">
                <label for="exampleInputSummary" class="form-label">Summary:</label>
                <label formControlName="summary" id="exampleInputSummary">{{ticket_details.Summary}}</label>
            </li>
            <li class="list-group-item">
                <label for="exampleInputSummary" class="form-label">Details:</label>
                <label formControlName="summary" id="exampleInputSummary">{{ticket_details.Details}}</label>
            </li>
            <li class="list-group-item">
                <label for="exampleInputNotes" class="form-label">Notes</label>
                <input type="text" formControlName="Notes" class=" form-control" id="exampleInputNotes">
            </li>
            <li class="list-group-item ">
                <span class="form-label radio">Status</span>
                <br>
                <div class="radio-button">
                    <input type="radio" value='InProgress' formControlName="status" name="status">InProgress
                    <input type="radio" style="margin-left:15px;" value='Resolved' formControlName="status"
                        name="status">Resolved
                </div>
            </li>
        </form>
        <li class="list-group-item">
            <button class="btn btn-info" (click)="postSync()">Update</button>
            <button routerLink="/" class="btn btn-info">Back</button>
        </li>

    </ul>
</div>